/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root { 
    /*========== Colors ==========*/
    --main-color: #dc143c;
    --main-color-alt: #d10f36;
    --body-color:#FFF;
    --title-color: #d8264a;
    --text-color: #333;
    --text-color-light: #888;
 
  
    /*========== Font family ==========*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;

    /*========== Font size ===========*/
    --biggest-font-size: 9vw;
    --home-font-size: 2rem;
    --h1-font-size: 1.7rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold:700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-bk:-1;
  
    /*========== Hover overlay ==========*/
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 5rem;
      --home-font-size: 2.4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.6rem;
      --h3-font-size: 1.2rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

  @media screen and (max-width: 650px) {
    :root {
      --home-font-size: 7vw;
    }
  }

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --body-color:#17171c;
    --title-color: #d8264a;
    --text-color: #FFF;
    --text-color-light: #DDD;
}


/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}   

button {
    cursor: pointer;
}

input {
    outline: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 5rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1.4rem;
}

.container {
    width: 80%;
    margin: auto;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    color: #FFF;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    border-radius: 1.6rem;
}

.btn:hover{
    letter-spacing: 0.2rem;
    background: var(--main-color-alt);
    color: #FFF;
    font-weight: var(--font-bold);
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-title{
  text-align: left;
}

.flex-description{
  margin: 0.7rem 0 1rem;
}

.flex-btn{
  color: var(--text-color);
  padding: 0.7rem 1rem;
  border:  3px solid var(--main-color);
  font-size: var(--normal-font-size);
}

.flex-img{
  width: 100%;
  overflow: var(--img-hidden);
  margin: 1.7rem 0 0.7rem;
}

.flex-img img{
  width: 100%;
  height: 100%;
  transition: var(--img-transition);
}

.flex-img img:hover{
  transform: var(--img-scale);
}

/********************** start header ************************/

/*=============== HEADER ===============*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*=============== NAV ===============*/
.nav{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo, .nav-toggle {
    color: var(--main-color);
}

.nav-logo {
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
}

.nav-toggle {
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.nav-menu {
    position: relative;
}


@media screen and (max-width: 767px) {
    .nav-menu {
      position: fixed;
      background-color: var(--body-color);
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
      padding: 3rem;
      transition: .4s;
    }
  }
  
.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
  
.nav-link {
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

  
.nav-link:hover {
  color: var(--main-color);
  font-weight: var(--font-bold);
}

.active-link{
  color: var(--main-color);
  font-weight: var(--font-bold);
}

.active-link::after{
  content: "";
  background-color: var(--main-color);
  font-weight: var(--font-bold);
  display: block;
  height: 3px;
  width: 3.3rem;
}
  
#nav-close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.fa-moon{
  cursor: pointer;
}
  
/* show menu */
.show-menu {
  right: 0;
}

/* Button Dark/Light */
.nav-dark {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
} 


.change-theme-name {
    font-size: var(--small-font-size);
}

/********************** end header ************************/


/********************* start home ***********************/

.home .slide{
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.home .slide::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-bk);
}

.home .slide .content{
  text-align: center;
  width: 70rem;
}

.home .slide .content .slid-commit{
  font-size: var(--home-font-size);
  display: block;
  padding-bottom: 0.5rem;
  color: #FFF;
}

.home .slide .content .slid-commit i{
  color: var(--main-color);
}


.home .slide .content h2{
  font-size: var(--biggest-font-size);
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  line-height: 1;
  padding: 2rem 0;
}

.home-btn{
  color: #FFF;
  padding: 3vw 5vw;
  border: 3px solid var(--main-color);
  font-size: var(--home-font-size);
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #000;
  opacity: 1;
  background: #EEE;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--main-color);
}

/********************* end home ***********************/


/********************* start menu ***********************/
.menu{
  width: 80%;
  margin: 100px auto;
}

.menu .menu-div:not(#first-menu-div){
  display: none;
}

.menu-list-items{
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-bottom: 0.5rem;
}

.menu-list-items li{
  border: 1px solid;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 12rem;
  margin: 0 0 1rem 1rem;
}

.mli-active{
  color: var(--body-color);
  background: var(--main-color);
  font-weight: var(--font-bold);
  scale: 1.2;
}

.mli-active::after{
  content: "";
  display: block;
  height: 0.1rem;
  background-color:var(--body-color);
  font-weight: var(--font-bold);
}

.menu-div{
  height: 500px;
  display: flex;
  border: 3px solid var(--main-color);
  border-radius: 20px;
}

.lgitem{
  width: 40%;
  background: var(--main-color);
  height: 100%;
  border-radius: 17px 0 0 17px;
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

.info-div{
  height: 60%;
  overflow: hidden;
}

.info-div h3{
  font-size: var(--h3-font-size);
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  border-bottom: 1px solid #EEE;
  color: #FFF;
}

.lgitem p{
  padding: 1rem;
}

.lgitem .img-div{
  width: 100%;
  height: 40%;
  border-radius: 0 0 0 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.img-div img{
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 20px;
}
.cover-an::before{
  content: "";
  background: rgba(240, 234, 234, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 222;
  border-radius: 0 0 0 20px;
  animation: cover 2s;
}
.s::before{
  background: rgba(252, 13, 5, 0.3);
}
.vapour{
  position: absolute;
  top:95%;
  left: 15%;
  display: flex;
  z-index: 1;
  text-align: center;
}
.vapour span
{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 10px;
  height: 120px;
  background: #FFF;
  border-radius: 50%;
  animation: animate 5s linear 3;
  opacity: 0;
  filter: blur(12px);
  animation-delay: calc(var(--i)*-0.5s);
}
@keyframes animate
{
  0%{
      transform: translateY(0) scaleX(1);
      opacity: 0;
  }
  15%{
      opacity: 1;
  }
  50%{
      transform: translateY(-150px) scaleX(5);
  }
  95%{
      opacity: 0;
  }
  100%{
      transform: translateY(-300px) scaleX(10);
  }
}


.smitems{
  width: 60%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,50%);
  justify-items: center;
  padding: 2rem;
}

.smitem{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.smitem-info{
  text-transform: capitalize;
  font-size: var(--h3-font-size);
  color: var(--text-color);
  text-align: center;
}

.smitem-info span{
  color: var(--main-color);
}

.dish-img{
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  overflow: var(--img-hidden);
}

.dish-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: var(--img-transition);
}

.dish-img img:hover{
  transform: var(--img-scale);
}

.img-div .botel{
  width: 50%;
  animation: botel 2s linear ;
}

.img-div .fruit{
  width: 35%;
  height: 60%;
  animation: fruit 2s linear ;
}

@keyframes cover{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes botel{
  0%{
    transform :translate(0,0);
  }
  50%{
    transform :translate(2rem,0);
  }
  100%{
    transform :translate(0,0);
  }
}

@keyframes fruit{
  0%{
    rotate :(0deg);
  }
  50%{
    rotate: 180deg;
  }
  100%{
    rotate: 360deg;
  }
}

@media only screen and (max-width:650px) {

  .menu-div{
    flex-direction: column;
  }
  .lgitem{
    flex-direction: row;
    height: 40%;
    width: 100%;
    border-radius: 17px 17px 0 0;
  }
  .lgitem .info-div, .lgitem .img-div{
    height: 100%;
    width: 50%;
  }

  .lgitem .img-div{
    border-radius: 0 17px 0 0;
  }
  .lgitem .img-div img{
    border-radius: 0 17px 0 0;
  }
  .smitems{
    width: 100%;
    height: 60%;
  }
  .vapour{
    top: 20%;
    left: 20%;
  }
  .vapour span{
    bottom: -30px;
  }
}

/********************* end menu ***********************/



/********************* start mobile ***********************/
.mobile-features{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.6rem;
  justify-items: center;
  align-items: center;
}

.mobile-features li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-features li i{
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-bottom: 0.7rem;
}

.mobile-features li span{
  font-size: var(--small-font-size);
  text-transform: capitalize;
  color: var(--text-color);
  text-align: center;
}

/********************* end mobile ***********************/




/********************* start clints ***********************/
.clints{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 6rem 1rem;
  background: url(../img/clint-bk.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

.clints::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}


.clint{
  width: 80%;
}

.clint-top{
  display: flex;
  margin-bottom: 2rem;
}

.clint h3{
  color: var(--main-color);
  height: 6rem;
  display: flex;
  align-items: center;
}

.clint-top img{
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.clint p{
  color: #FFF;
}

/********************* end clints ***********************/




/********************* start popular ***********************/
.popular-item{
  text-align: center;
  padding: 3rem;
  border: 1px solid #DDD;
  border-radius: 2rem;
  box-shadow:  rgb(0 0 0 / 24%) 0px 3px 8px;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 20rem;
}

.popular-item img{
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.popular-item h3{
  color: var(--text-color);
}

.popular-item .stars{
  color: var(--main-color);
  margin: 1rem 0;
}

.popular-item .popular-btn{
  color: var(--body-color);
  padding: 0.7rem 1rem;
  background-color:  var(--main-color);
  font-size: var(--normal-font-size);
  margin: 2rem 0;
}


/********************* end popular ***********************/
.order p,.title{
  color: var(--main-color);
  text-transform: capitalize;
}

.order input, .order select, .order textarea{
  color: #000;
}

.order label, .order legend, .order span{
  color: #FFF;
}

.order  textarea {
  resize: none;
}

.order-container{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: url(../img/backg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.order-container::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.order-content{
  max-width: 980px;
  padding: 25px 30px;
  border: 2px solid #FFF;
  border-radius: 5px;
}

.order fieldset{
  padding: 0 20px 20px;
  margin-bottom: 20px;
}

.order .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}


.order .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  text-transform: capitalize;
}

.order .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.order .input-box input,
.order .input-box textarea{
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  text-transform: capitalize;
  border-bottom-width: 2px;
  transition: all 0.5s ease;
}

.order .input-box .map {
  width: 100%;
}

.order .input-box input {
  height: 45px;
}

.order .input-box textarea,
.order .input-box .map {
  height: 180px;
}

.order .input-box input:focus,
.order .input-box textarea:focus{
  box-shadow: 0 0 10px crimson;
  border-color: crimson;
}

.order .survery label{
  display: flex;
}

.order .survery .input-radio{
  margin-right: 10px;
}


.order .survery p{
  margin: 20px 0 10px;
  font-size: 20px;
}

.order .survery select{
  background: #FFF;
  padding: 10px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.survery textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  transition: all 0.5s ease;
}

.survery textarea:focus
{
  outline: none !important;
  box-shadow: 0 0 10px crimson;
  border-color: crimson;
}

.button{
  text-align: center;
}

.button input{
  width: 90%;
  padding: 10px;
  background: crimson;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button input:hover{
  width: 100%;
  background: rgb(133, 7, 32);
  letter-spacing: 5px;
  font-weight: 700;
}

@media (max-width:600px){
  .order-container{
      max-width: 100%;
  }
  .order .input-box{
      margin-bottom: 15px;
      width: 100%;

  }
}




.footer-content{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  gap: 1.5rem;
}

.footer-title{
  margin-bottom: 1rem;
}

.footer-item{
  margin-top: 0.4rem;
}

.footer-data .footer-link{
  color: var(--text-color-light);
}

.footer-data .footer-link:hover{
  color: var(--text-color);
}

.footer-end{
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer-social{
  display: flex;
  gap: 0.7rem;
  font-size: var(--h3-font-size);
}

.footer-social-item{
  color: var(--main-color);
}

.footer-social-item .copyright{
  text-transform: capitalize;
  color: var(--text-color);
}




.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--main-color);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--main-color-alt);
  opacity: 1;
}

.scrollup-icon {
  color: var(--body-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}











@media screen and (max-width:340px){
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
  }
  .flex-btn{
    padding: 3vw 5vw;
    border: 3px solid var(--main-color);
    font-size: 7vw;
  }
  .menu-list-items{
    font-size: 5vw;
    gap: 2vw;
  }
  .menu-list-items li{
    padding: 1vw 2vw;
  }
  .info-div h3,.lgitem p{
    padding: 0.7rem;
    
  }
  .smitems{
    padding: 1rem;
  }
  .dish-img{
    height: 60%;
  }
  .smitem-info {
    font-size: 0.9rem;
  }
  .lgitem{
    height: 34%;
  }
  .mobile-features li i {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
  }
  .mobile-features li span{
    font-size: 0.7rem;
  }
  .clints{
    padding: 2rem 1rem;
  }
  .clint-top img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.7rem;
  }
  .clint-top{
    margin-bottom: 0;
  }
  .clint p{
    font-size: 14px;
  }
  .order .survery p {
    font-size: 16px;
  }
  .footer-content{
    gap: 0.8rem;
  }
}



@media screen and (min-width: 550px) {
  .flex-container{
    flex-direction: row;
    gap: 10%;
  }
  .flex-data, .flex-img{
    width : 45%;
  }
  .mobile-container .flex-img{
    width : 80%;
    margin: 1.7rem auto;
    height: 250px;
  }
  .flex-img{
    height: 300px;
  }
  .clints{
    flex-direction: row;
  }
  .footer-content{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 6rem;
  }
}



@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
 
  .active-link::after{
    width: auto;
  }
  .nav-dark {
    position: initial;
  }
  .nav-menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
    margin-right: 2rem;
  }
  .nav-toggle, .nav-close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .home-btn{
    color: #FFF;
    padding: 1rem 2.5rem;
    border: 5px solid var(--main-color);
    font-size: 1.8rem;
  }
  .menu-list-items{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
  }
  .clint {
    width: 50%;
    padding: 0 4rem;
  }
  .footer-content{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    column-gap: 1.7rem;
  }
}